source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Core
nuget Node.js
nuget Npm.js
nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget FsUnit
nuget Chessie
nuget NEventStore
nuget Suave
nuget FSharp.Data
nuget Newtonsoft.Json